<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<title>Hexagonal Blog</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% include '@Front/header.html.twig' %}
		<section class="py-5 container"> 
			<div id="app"></div>
            {% block body %}{% endblock %}
		</section>
	</body>
</html>
