{% extends '@Front/base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Posts</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody {{ stimulus_controller('post-listall') }}>
					<tr {{ stimulus_target('post-listall', 'template') }}>
						<td>
							<a href="https://www.google.es" {{ stimulus_target('post-listall', 'title') }}></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}