{% extends '@Front/base.html.twig' %}

{% block title %}Listado de Entidades{% endblock %}

{% block body %}
    <h1>Listado de Entidades</h1>
    <div>
        <!-- Tu código para listar entidades aquí -->
    </div>
{% endblock %}
